.Detail-title{
    font-size:50px;
}

.Detail-margin{
    margin:20px;
    font-size:20px;
}

.Detail-margin-Badge{
    margin-right:10px;
    padding:10px;
    font-size:20px;
}

.Detail-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.Badge-padding{
padding:10px;
margin-right:10px;
}
.movieDetail-container{
    height:100vh;
}
@media(orientation: portrait){
    .movieDetail-container{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        width:auto;
        max-width:300px;
       
        
    }
    .img-wrapper{
       width:auto;
       max-width:300px;
       height:auto;
       

    }

    .img-wrapper-container{
        display:flex;
        justify-content: center;
    }

    .Detail-title{
        font-size:30px;
    }
    
    .Detail-margin{
        margin:8px;
        font-size:10px;
       
    }
    
    .movieDetail-big-container{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        /* position:absolute; */
        /* width:auto;
        max-width:300px;
        height:auto; */
        
    }

    .Detail-container{
        display:flex;
        flex-direction:column;
        justify-content:center;
        width:auto;
        max-width:300px;
    }
}