
.banner{
    height: 56vh;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    width:100%
    
}
.banner:before{
    content:'';
    background:linear-gradient(to top,black,transparent);
    position:absolute;
    left: 0;
    height: 56vh;
    width:100%;
}

.banner-text-area{
    width:40%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:100%;
    padding:2rem;

}

.banner-text-area>*{
    z-index:2;
}

.white{
    color:white;
}

@media (orientation: portrait){
    .banner{
        width:90vh;
        max-width:90%;
    }
    .banner-text-area{
        width:90vh;
        max-width:90%;
        font-size:smaller;
    }
}