.movie-card{
    width: 220px;
    height:330px;
    background-size:cover;
    cursor:pointer;
    transition:0.5s;
    border-radius:5px; 
    margin-bottom:10px;
 
}

.overlay{
    width: 100%;
    height: 100%;
    background:rgba(43,41,41,0.9);
    transition:all 1s;
    color:white;
    font-weight:bold;
    overflow-wrap:break-word;
    opacity: 0;
    /* position: absolute; 
    top: 0;
    left: 0; */
    padding: 20px; 
    box-sizing: border-box; 
}

.overlay:hover{
    opacity:1;

   
}

.movie-card:hover{
    
    transform:scale(1.2) translateZ(20px);
    z-index:2;
   
  
    
}

.movie-card:hover h1{
 font-size:25px;
}

/* .overlay-term{
    position:absolute;
    bottom:25px;
} */

.badge-id{
    margin-left:3px;
}
.MovieCard-inform{
    margin-bottom:20px;
    font-size:15px;
}
.overlay h1{
font-size:30px;
    font-weight: 200;
}
@media(oreintation:portrait){
    .movie-card:hover{
    
        transform:scale(1.1) translateZ(10px);
        z-index:2;
   
    }
    
    
    
    .movie-card:hover h1{
     font-size:20px;
    }
    
    /* .overlay-term{
        position:absolute;
        bottom:25px;
    } */
    
    .badge-id{
        margin-left:3px;
    }
}