.hompageStyle{
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1050; 
}

.style2{
    height: 100vh; 
    overflow: hidden; /* 스크롤을 숨김 */
  position: relative; 
}